* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0083fc;
  --secondary-color: #ff5533;
  --tertiary-color: #e5e5e5;
  --bg-color: #fff;
  --card-text-color: #e6e6e6;
  --white-color: #fff;
  --card-size: 114px;
  --container-width: 965px;
}
